<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog!</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand ms-2" href="">Tech Blog!</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active" id="homeBtn">
            <a class="nav-link" href="">Home
              <span class="sr-only"></span></a>
          </li>
          <li class="nav-item" id="createPostBtn">
            <a class="nav-link" href="">Create a Post </a>
          </li>
          {{#if logged_in}}
            <li class="nav-item logoutNav" id="logout">
              <a class="nav-link logoutNav" href="">Logout</a>
            </li>
          {{/if}}
          {{#unless logged_in}}
            <li class="nav-item loginNav" id="login">
              <a class="nav-link" href="">Login | Create an account</a>
            </li>
          {{/unless}}
        </ul>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main
      class="d-flex flex-column justify-content-center align-items-center bg-light"
    >
      {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/js/main.js"></script>
  </body>
</html>